<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户权限管理</title>
    <span th:include="commons/templates :: common-css-js"></span>
    <span th:include="commons/templates :: init-menu"></span>
    <!--<span th:include="commons/templates :: bootstrap-typeahead"></span>-->
    <span th:include="commons/templates :: typeahead"></span>
</head>
<body>
<div th:replace="commons/templates :: header"></div>
<div class="container">
    <div class="page-header">
        <h3>用户权限管理</h3>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- 搜索-->
                            <div class="typeahead__container">
                                <div class="typeahead__field">

                                    <span class="typeahead__query">
                                        <input class="js-typeahead"
                                               id="query-text"
                                               type="search"
                                               autofocus
                                               autocomplete="off"
                                               placeholder="用户ID"
                                        >
                                    </span>
                                    <span class="typeahead__button">
                                        <button type="button" id="user-info-search">
                                            <span class="typeahead__search-icon"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <!-- 搜索-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 个人详情 -->
    <div class="row" id="userGroup-info-panel" style="display: none;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8" id="info-panel">
                            <form id="entity-from">
                                <div class="h5"><strong>基本信息:</strong></div>
                                <div class="row" style="margin-left: 20px;">
                                    <br>
                                    <div class="col-md-4">
                                        <label>ID:</label>&nbsp;<span id="entity-userId"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>用户名:</label>&nbsp;<span id="entity-username"></span>
                                    </div>
                                </div>
                                <hr>
                                <label class="h5"><strong>用户组:</strong></label>
                                <div id="userGroup-box">
                                </div>
                                <hr>
                                <label class="h5"><strong>角色:</strong></label>
                                <div id="roles-box">
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-2 pull-right">
                                        <a class="btn btn-warning" id="btn-submit">更新权限</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3" style="border-left: 1px solid #cccccc;margin-top: 20px;margin-left: 20px;"
                             id="menu-panel">
                            <div class="h5">可见目录:</div>
                            <br>
                            <div id="menu-list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 编辑框 -->
<div class="modal fade" id="msg-panel" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body" id="msg-box">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script th:inline="text">

    $.typeahead({
        input: '.js-typeahead',
        minLength: 0,
        order: "asc",
        dynamic: true,
        delay: 500,
        backdrop: {
            "background-color": "#fff"
        },
        emptyTemplate: "没有找到用户ID或者用户名为 <span class='text-danger'>“{{query}}”</span> 的相关用户。",
        source: {
            user: {
                display: "username",
//                href: "https://www.github.com/{{username|slugify}}",
                data: [{
                    "username": "{{username}}",
                    "userId": "{{userId}}",
                }],
                data: function () {
                    var deferred = $.Deferred(),
                        query = this.query;
                    $.getJSON('[[@{/user/search}]]', {text: query}, function (data) {
                            var array = [];

                            for (var i = 0; i < data.length; i++) {
                                var item = data[i];
                                var userId = item.userId;
                                var username = item.username;

                                var strItem = "<span data-id='" + userId + "' data-username='" + username + "'>ID: " + userId + "&nbsp;&nbsp;&nbsp;&nbsp;用户名: " + username + "</span>";
                                array.push(strItem);
                            }

//                            deferred.resolve(data);
                            deferred.resolve(array);
                        }
                    )

                    return deferred;
                }
            },
        },
        callback: {
            onClickAfter: function (node, a, item, event) {

                var userId = $(item['username']).attr("data-id");
//                console.log(userId);
                $("#query-text").val(userId);
            },
        },
        debug: false
    });

    $("#user-info-search").click(function () {
        var userId = $("#query-text").val();
        if (userId != "") {
            $.get("[[@{/userGroup/user/}]]" + userId, function (data) {
                console.log(data);
                var user = data['user'];
                var userId = user['userId'];
                var username = user['username'];

                $("#entity-userId").text("\t" + userId);
                $("#entity-username").text("\t" + username);

                var menuList = data['menuList'];
                var groupMaps = data['groupMaps'];
                var roleMaps = data['roleMaps'];

                // 设置目录树
                var treeStr = "<ul>" + setMenuTree(menuList) + "</ul>";
                $("#menu-list").empty().append(treeStr);

                //设置用户组
                setUserGroupBox(groupMaps);
                setRolesBox(roleMaps);

                // 显示界面
                $("#userGroup-info-panel").show();
                //设置边界样式
                $("#menu-panel").css("height", $("#info-panel").css("height"));
            })
        }
    })

    /**
     *  设置目录树
     */
    function setMenuTree(list) {

        var str = "";
        for (var i = 0; i < list.length; i++) {
            var node = list[i];
            if (node['name'] != undefined) {
                if (node['subMenus'] != undefined && node['subMenus'].length > 0) {
                    str += "<li>-&nbsp;" + node['name'] + "</li>";
                    str += "<li><ul>" + setMenuTree(node['subMenus']) + "</li></ul>";
                } else {
                    str += "<li>&nbsp;&nbsp;" + node['name'] + "</li>";
                }
            }
        }
        return str;
    }

    /**
     * 用户组 ==============================================================
     **/

    function setUserGroupBox(groupMaps) {

        if (groupMaps == undefined) {
            return;
        }
        var strItems = "";
        for (var key in groupMaps) {
            strItems += setUserGroupBoxItem(key, groupMaps[key]);
        }

        $("#userGroup-box").empty().append(strItems);
    }

    function setUserGroupBoxItem(key, list) {

        var str = ""

        str += '<div class="row" style="margin-left: 20px;">' +
            '<div class="h5">' + key + ':</div>' +
            '<div class="row" style="margin-left: 10px;">';

        for (var i = 0; i < list.length; i++) {
            var item = list[i];
//            console.log(item);
            if (item['check']) {
                str += '<div class="col-md-3">' +
                    '<input type="checkbox" name="checkList" value="' + item['groupId'] + '" class="check-item" checked>&nbsp;' + item['groupName'] +
                    '</div>';
            } else {
                str += '<div class="col-md-3">' +
                    '<input type="checkbox" name="checkList" value="' + item['groupId'] + '" class="check-item" >&nbsp;' + item['groupName'] +
                    '</div>';
            }
        }

        str += '</div></div>';
        return str;
    }

    /**
     *  角色组 ===================================================================
     * @param groupMaps
     */

    function setRolesBox(rolesMap) {

        if (rolesMap == undefined) {
            return;
        }
        var strItems = "";
        for (var key in rolesMap) {
            strItems += setRoleBoxItem(key, rolesMap[key]);
        }

        $("#roles-box").empty().append(strItems);
    }

    function setRoleBoxItem(key, list) {

        var str = ""

        str += '<div class="row" style="margin-left: 20px;">' +
            '<div class="h5">' + key + ':</div>' +
            '<div class="row" style="margin-left: 10px;">';

        for (var i = 0; i < list.length; i++) {
            var item = list[i];
            str += '<div class="col-md-3">' +
                (i + 1) + '. ' + item['name'] +
                '</div>';

        }

        str += '</div></div>';
        return str;
    }

    /**
     * 更新权限 ==========================================
     */
    $("#btn-submit").click(function () {
        $.post("[[@{/userGroup/}]]" + $("#entity-userId").text() + "/modification", $("#entity-from").serializeArray(), function (data) {
            if (data['status'] == 'OK') {
                // 更新结果提醒
                $("#msg-box").html("<div class='text-success'>更新成功！</div>");
                $("#user-info-search").trigger("click");
            } else {
                $("#msg-box").html("<div class='text-danger'>出现异常，请联系系统管理员！</div>");
            }
            $("#msg-panel").modal("show");
        }).error(function (data, json) {
            var message = data['responseJSON']['message'];

            message = message != undefined ? message : "系统异常，请联系管理员！";
            $("#msg-box").html("<div class='text-danger'>" + message + "</div>")
            $("#msg-panel").modal("show");
        }, "json");
    })



</script>
</body>
</html>